<launch>
  <!--Node for trajectories, used with MoveIt -->
  <node name="joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" />
  <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/>
  <!--Baxter_mover node-->
  <node name ="test2" pkg = "final_project" type = "test2" />
</launch>
